{% extends 'base.html.twig' %}

{% block title %}Nouvelle assignation{% endblock %}

{% block body %}
    <div class='d-flex justify-content-center'>
        <h1 class="my-5">Nouvelle assignation</h1>
    </div>

    <a class="btn btn-danger" href="{{ path('gouvernance_zerotage') }}" >Remettre à 0</a>

    <table class="table table-striped table-hover" >
        <thead class="theadBleu" >
            <th>Chambre</th>
            <th>État</th>
            <th>Employé</th>
            <th>Option</th>
            <th>Validation</th>
        </thead>
        <tbody>
            {% for chambre in chambres %}
                <tr > 
                    {% for data in formList %}
                        {% if data.chambre.id == chambre.id %}
                            <td> {{chambre.nom}} </td>
                            <td> {{chambre.renderEtat}} </td>
                            {# Je fais appel à mon formulaire et je lui définis une action dans le controller Gouvernance tout en lien chaque formulaire à l'id d'une chambre #}
                            {{ form_start(data.form, {'action': path('gouvernance_form_receive', { 'id' :  data.chambre.id })} ) }}
                                <td>{{form_widget(data.form.employe)}}</td>
                                <td>{{form_widget(data.form.optionService)}}</td>

                                {% if data.chambre.statutAssignationMenage == 0 %}

                                   

                                    <td ><input class="btn  affchin" type="submit" value="Envoyer"></td>

                                {% else %}
                                    <td>
                                        <span class="btn btn-success">Validation ok</span> 
                                        <a class="btn btn-danger" href="{{ path('gouvernance_zerotage_unique', {'id' : data.chambre.id} ) }}" >Annuler</a>
                                    </td>
                                {% endif %}

                            {{ form_end(data.form) }}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    
    </table>


    <a href="{{path('gouvernance_historique')}}"><i class="fas fa-arrow-left fa-3x"></i></a>

{% endblock %}