{% extends 'base.html.twig' %}

{% block title %}New Metier{% endblock %}

{% block body %}
    <h1>Create new Metier</h1>


<table class="table">
<thead>
<th>Chambre</th>
<th>Employé</th>
<th>Option</th>
<th>Validation</th>
</thead>
<tbody>
    {% for chambre in chambres %}
            <tr> 
                {% for data in formList %}
                    {% if data.chambre.id == chambre.id %}
                    <td> {{chambre.nom}} </td>
                        {{ form_start(data.form, {'action': path('gouvernance_form_receive', { 'id' :  data.chambre.id })} ) }}
                        <td>{{form_widget(data.form.employe)}}</td>
                        <td>{{form_widget(data.form.optionService)}}</td>
                        <td>{{form_widget(data.form.Valider)}}</td>
                        {{ form_end(data.form) }}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
</tbody>
    
</table>

    <a href="">back to list</a>
{% endblock %}