{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}


{% block body %}


  
    <div class="container-fluid my-5">

    <div class="d-flex justify-content-center m-5">
        <h1>{{date|date('d-M-Y')}}</h1>
    </div>
    <div class="row">
        <div class="col-6 border-right p-5">

            <div class="d-flex justify-content-center m-5">
                <h2>CHECK IN</h2>
            </div>

            <table class ="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>N° ID</th>
                        <th>Nom du client</th>
                        <th>Prénom du client</th>
                        <th>N°/Nom de chambre</th>
                        <th>État de la réservation</th>
                        <th>Modifier  statut </th>
                    </tr>
                </thead>
                <tbody>
                    {% for reservation in reservationDuJour %}
                    <tr>
                        <td>{{reservation.id}}</td>
                        <td> {{reservation.client.nom}}</td>
                        <td> {% for chambre in reservation.chambre %} {{chambre.nom}} {% endfor %}</td>
                        <td>{{reservation.client.prenom}}</td>
                        <td>{{reservation.renderStatus}}</td>
                        <td class="d-flex justify-content-center"><a class="btn btn-secondary" href="{{path('reservationCheckInForm',{'id':reservation.id} ) }}">Valider</a></td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="col-6 p-5">

            <div class="d-flex justify-content-center m-5">
                <h2>CHECK OUT</h2>
            </div>
            
            <table class ="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>N° ID</th>
                        <th>Nom du client</th>
                        <th>Prénom du client</th>
                        <th>N°/Nom de chambre</th>
                        <th>État de la réservation</th>
                        <th>Modifier  statut </th>
                    </tr>
                </thead>
                <tbody>
                    {% for depart in departDuJour %}
                    <tr>
                        <td>{{depart.id}}</td>
                        <td> {{depart.client.nom}}</td>
                        <td> {% for chambre in depart.chambre %} {{chambre.nom}} {% endfor %}</td>
                        <td>{{depart.client.prenom}}</td>
                        <td>{{depart.renderStatus}}</td>
                        <td class="d-flex justify-content-center"><a class="btn btn-secondary" href="{{path('reservationCheckOutForm',{'id':depart.id} ) }}">Valider</a></td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
      
  </div>
        
       
        
        

        
        {# {{ render(controller('App\\Controller\\ReservationController::formCheckIn', {id:reservation.id})) }}  #}
        
        
      
        <br>
        
       
      
  

{% endblock %}
