{% extends 'base.html.twig' %}

{% block title %}Editer Réservation{% endblock %}

{% block body %}
    <div class='d-flex justify-content-center'>
         <h1>Editer profil de : {{ reservation.prenom }} {{ reservation.nom }}</h1>
    </div>
    {{ include('reservation/form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('reservation') }}"><i class="fas fa-arrow-left fa-3x " style="color:black;"></i></a>

    {# {{ include('reservation/_delete_form.html.twig') }} #}
{% endblock %}