{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}


{% block body %}

<script>
    $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });

</script>


  <div class="row p-5 justify-content-around">
      <div class="col-6 border-right p-5 d-flex justify-content-center">
          <div>
              <h1 class="mb-5">Ajouter une réservation</h1>
              {{ form_start(formResa) }}
            
              {{ form_row(formResa.dateEntree) }}


              {{ form_row(formResa.dateSortie) }}


              {{ form_row(formResa.carteBancaire) }}


              {{ form_row(formResa.client) }}


              {{ form_row(formResa.chambre) }}

              {{ form_row(formResa.optionService) }}

              {{ form_row(formResa.enregistrer) }}

            
              {{ form_end(formResa) }}

          </div>
      </div>
      <div class="col-6 p-5 d-flex justify-content-center">
          <div>
              <h1  class="mb-5">Ajouter un nouveau client</h1>
              {{ form_start(formClient) }}

                {{ form_row(formClient.nom) }}


                {{ form_row(formClient.prenom) }}


                {{ form_row(formClient.adresse) }}


                {{ form_row(formClient.codePostal) }}


                {{ form_row(formClient.ville) }}

                {{ form_row(formClient.telephone) }}

                {{ form_row(formClient.mail) }}

                {{ form_row(formClient.dateDeNaissance) }}

                {{ form_row(formClient.commentaire) }}

                {{ form_row(formClient.enregistrer) }}

              
                {{ form_end(formClient) }}
            </div>
        </div>
    </div>



  <div class="container-fluid" id='calendar'></div>


  <script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'interaction', 'resourceTimeline', 'dayGrid', 'timeGrid' ],
      now: '2020-02-01',
      selectable: true,
      selectHelper: true,
      editable: true,
      aspectRatio: 1.8,
      scrollTime: '00:00',
      header: {
        left: ' prev',
        center: 'title',
        right: ',next'
      },
      defaultView: 'resourceTimelineMonth',
      views: {
        resourceTimelineDay: {
          buttonText: ':15 slots',
          slotDuration: '00:15'
        },
        resourceTimelineTenDay: {
          type: 'resourceTimeline',
          duration: { days: 10 },
          buttonText: '10 days'
        }
      },
      navLinks: true,
      resourceAreaWidth: '14%',
      resourceLabelText: 'Rooms',
      resources: [
        { id: "1", title: 'test' },
        { id: "58", title: 'manoir wayne'},
        { id: "59", title: 'test'},
   
        // { id: "59", title: 'test', eventColor: 'orange' },
        // { id: "16", title: 'Auditorium D', children: [
        //   { id: 'd1', title: 'Room D1' },
        //   { id: 'd2', title: 'Room D2' }

      ],
      events: function(info, successCallback, failureCallback) {
        //ajax
        $.get("{{path('reservationTimeline')}}", function(data){
          var json=data;
          var obj=JSON.parse(json);
          //console.log(obj[0].rendering);
          //console.log(obj.length);

          var length = obj.length;
          var newTab= new Array();
          for(var i=0; i<length; i++){
            //console.log(i);
            newTab.push(
                {

                  resourceId:obj[i].idChambre,
                  start:obj[i].start, 
                  end:obj[i].end,  
                  rendering:obj[i].rendering,
                  backgroundColor:obj[i].backgroundColor,
                },
            ) ;
               
            
                  
          }
          //console.log(newTab)
          $('.lds-circle').hide(5000);
          successCallback(
          
         
          newTab
        
        );

      });


    },
      select: function(arg) {
        console.log(
          'select callback',
          arg.startStr,
          arg.endStr,
          arg.resource ? arg.resource.id : '(no resource)'
        );
      },



    });

    calendar.render();
  });

</script>
{% endblock %}
