{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}


{% block body %}


  <div class="row p-5">
    <div class="col-5">
      {{ form_start(formResa) }}

        {{ form_row(formResa.dateEntree) }}


        {{ form_row(formResa.dateSortie) }}


        {{ form_row(formResa.carteBancaire) }}


        {{ form_row(formResa.client) }}


        {{ form_row(formResa.chambre) }}

        {{ form_row(formResa.optionService) }}

        {{ form_row(formResa.enregistrer) }}

      
      {{ form_end(formResa) }}

     
    </div>
  </div>


form ReservationController
    -> chambre
    -> date de début
    -> date de fin


form client

    -> soit client existe on selectionne
    -> soit on crée tous les champs



calendrier


  <div class="container-fluid" id='calendar'></div>


  <script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'interaction', 'resourceTimeline', 'dayGrid', 'timeGrid' ],
      now: '2020-02-01',
      selectable: true,
      selectHelper: true,
      editable: true,
      aspectRatio: 1.8,
      scrollTime: '00:00',
      header: {
        left: 'today prev,next',
        center: 'title',
        right: 'resourceTimelineMonth'
      },
      defaultView: 'resourceTimelineMonth',
      views: {
        resourceTimelineDay: {
          buttonText: ':15 slots',
          slotDuration: '00:15'
        },
        resourceTimelineTenDay: {
          type: 'resourceTimeline',
          duration: { days: 10 },
          buttonText: '10 days'
        }
      },
      navLinks: true,
      resourceAreaWidth: '14%',
      resourceLabelText: 'Rooms',
      resources: [
        { id: "1", title: 'test' },
        { id: "58", title: 'manoir wayne'},
        { id: "59", title: 'test'},
   
        // { id: "59", title: 'test', eventColor: 'orange' },
        // { id: "16", title: 'Auditorium D', children: [
        //   { id: 'd1', title: 'Room D1' },
        //   { id: 'd2', title: 'Room D2' }

      ],
      events: function(info, successCallback, failureCallback) {
        //ajax
        $.get("{{path('reservationTimeline')}}", function(data){
          var json=data;
          var obj=JSON.parse(json);
          //console.log(obj[0].rendering);
          //console.log(obj.length);

          var length = obj.length;
          var newTab= new Array();
          for(var i=0; i<length; i++){
            //console.log(i);
            newTab.push(
                {

                  resourceId:obj[i].idChambre,
                  start:obj[i].start, 
                  end:obj[i].end,  
                  rendering:obj[i].rendering,
                  backgroundColor:obj[i].backgroundColor,
                },
            ) ;
               
            
                  
          }
          //console.log(newTab)
          $('.lds-circle').hide(5000);
          successCallback(
          
         
          newTab
        
        );

      });


    },
      select: function(arg) {
        console.log(
          'select callback',
          arg.startStr,
          arg.endStr,
          arg.resource ? arg.resource.id : '(no resource)'
        );
      },



    });

    calendar.render();
  });

</script>
{% endblock %}
