{% extends 'base.html.twig' %}




{% block body %}
    <script type="text/javascript">
        function imprimer_page(){
            window.print();
        }
    </script>




    {# Bouton d'impression #}
    <div class="container p-5">
        <div class="row justify-content-end">
            <form >
                <input id="impression" class="impression btn btn-warning" name="impression" type="button" onclick="imprimer_page()" value="imprimer">
            </form>
        </div>
    </div>




    
    <div class="container p-5 border ">

        {# EN TETE DE RECAP / info hotel #}
        <div class="row bg-info rounded mb-5">
            <div class="col-6 p-3">
                <h3>Nom hôtel</h3>
                <p>Adresse 1</p>
                <p>Adresse 2</p>
                <p>CP VILLE</p>
                <p>Tel</p>
                <p>mail</p>
            
            </div>
        </div>

        {# info client #}
        <div class="row">
            <div class="offset-8 col-4">
                <h3>{{reservation.client.nom}} {{reservation.client.prenom}}</h3>
                <p>{{reservation.client.adresse}}</p>
                <p>{{reservation.client.codePostal}}</p>
                <p>{{reservation.client.ville}}</p>
            </div>
        </div>


        {# info recap N° et date #}
        <div class="row mb-5">
            <div class="col-6">
                <p> <b> Récapitulatif N° {{reservation.id}} </b></p>
                <p>Date : {{reservation.dateCreation|date('d/m/Y')}}</p>
              
            </div>
        </div>

        {# détail du recap #}
        <table class="table table-striped border">
            <thead class="thead-dark">
                <tr>
                    <th>Chambre</th>
                    <th>Nombre de chambre</th>
                    <th>Date d'arrivée</th>
                    <th>Date de départ</th>
                    <th>Nombre de jours</th>
                    <th>Prix unitaire</th>
                    <th>Prix total</th>
                </tr>
            </thead>
            <tbody>
                {% for chambre in reservation.chambre %}
                    <tr>
                        <td>{{chambre.nom}}</td>
                        <td>{{ chambre|length }}</td>
                        <td>{{reservation.dateEntree|date('d/m/Y')}}</td>
                        <td>{{reservation.dateSortie|date('d/m/Y')}}</td>
                        <td> {{nombreJours.days}}</td>
                        <td>{{ chambre.prix }}</td>
                        {# prix  HT = nombre de jour * prix de la chambre #}
                        <td> {{ nombreJours.days*chambre.prix }}</td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>


        {# total HT TVA et TTC #}
        <div class="row align-items-end">
            <div class="col-3">
                <p>Paiement comptant</p>
            </div>
            <div class="offset-6 col-3">
                
                <table class='table'>
                    <tr>
                        {# calcul et affichage du total HT #}
                        <td>TOTAL HT </td>
                        <td> 
                            {% for chambre in reservation.chambre %}
                                {# total ht = total des prix HT de toutes les chambres réservées #}
                                {% set total = total + nombreJours.days*chambre.prix %} 
                            {% endfor %}
                            {{total}} €
                        </td>
                    </tr>

                    <tr>
                        {# calcul et affichage de la TVA #}
                        <td><small>Dont TVA</small> </td>
                        <td> <small>
                            {% for chambre in reservation.chambre %}
                                {#  calcul de la TVA = prix ht * le taux de tva pour  toutes les chambres réservées #}
                                {% set tva = tva + (nombreJours.days*chambre.prix)*chambre.tva.taux %} 
                            {% endfor %}
                            {{tva}}€
                        </small> </td>
                    </tr>


                     <tr>
                        {# calcul et affichage du total TTC #}
                        <td><small>TOTAL TTC</small> </td>
                        <td> <small>
                            {% for chambre in reservation.chambre %}
                                {# ttc = prix total ht  +  tva #}
                                {% set ttc = ttc + (nombreJours.days*chambre.prix)*(1+ chambre.tva.taux) %} 
                            {% endfor %}
                            {{ttc}}€
                        </small> </td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="row bg-info rounded mt-5">
        Mentions obligatoires : Siret 
        </div>




        
    </div>
    {# bouton de modification, réservation et client #}
    <div class="container p-5"> 
        <div class="row justify-content-end">
            <a class="impression btn btn-warning mr-5" href="{{path('editReservation',{'id': reservation.id})}}"  >Modifier la réservation</a>
            <a class="impression btn btn-warning" href="{{path('editClient',{'id': reservation.client.id ,'idResa':reservation.id})}}"  >Modifier le client</a>
        </div>
    </div>

   



{% endblock %}
