{% extends 'base.html.twig' %}

{% block title %}Chambre{% endblock %}

{% block body %}
    <h1>Chambre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chambre.id }}</td>
            </tr>
            <tr>
                <th>Capacité</th>
                <td>{{ chambre.capacite }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ chambre.etat }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ chambre.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ chambre.prix }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ chambre.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('chambre_index') }}">Retour</a>

    <a href="{{ path('chambre_edit', {'id': chambre.id}) }}">Modifier</a>

    {{ include('chambre/_delete_form.html.twig') }}
{% endblock %}
