{% extends 'base.html.twig' %}

{% block title %}Chambre{% endblock %}

{% block body %}
  <div class='d-flex justify-content-center'>
         <h1>Detail chambre {{ chambre.id }} </h1>
    </div>
    <br>
        <table class="table table-striped table-hover" >
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chambre.id }}</td>
            </tr>
            <tr>
                <th>Capacité</th>
                <td>{{ chambre.capacite }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ chambre.etat }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ chambre.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ chambre.prix }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ chambre.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('chambre_index') }}"><i class="fas fa-arrow-left fa-3x"></i></a>
{% if is_granted('ROLE_SUPER_ADMIN') %}
    <a href="{{ path('chambre_edit', {'id': chambre.id}) }}"><i class="far fa-edit fa-3x"></i></a>

    {{ include('chambre/_delete_form.html.twig') }}
{% endif  %}
{% endblock %}
