{% extends 'base.html.twig' %}

{% block title %}Historique clients {% endblock %}

{% block body %}
    <div class='d-flex justify-content-center'>
        <h1 class="my-5">Historique clients</h1>
    </div>

    <table class="table table-sm table-hover" style="max-width:100vw">
        <thead>

        <form  method="get">
                <tr  >
                    <td>
                        <input type="text"  name="nom" id="nom">
                    </td>
                    <td>
                        <input type="text" name="prenom" id="prenom">
                    </td>
                    <td>
                        <input type="text" name="adresse" id="adresse">
                    </td>
                    <td>
                        <input type="text" name="codePostal" id="codePostal">
                    </td>

                    <td>
                        <input type="text" name="ville" id="ville">
                    </td>
                    <td>
                        <input type="text" name="telephone" id="telephone">
                    </td>
                    <td>
                        <input type="text" name="mail" id="mail">
                    </td>
                    <td>
                        <input type="date" name="dateNaissance" id="dateNaissance">
                    </td>
                    <td></td>
                    <td>
                        <input type="submit" value="Filtrer">
                    </td>
                    
                
                </tr>
            </form>
            <tr>

                <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse</th>
                <th>Code Postal</th>
                <th>Ville</th>
                <th>Téléphone</th>
                <th>Mail</th>
                <th>Date de naissance</th> 
                <th>Commentaire</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
            
               <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.adresse }}</td>
                <td>{{ client.codePostal }}</td>
                <td>{{ client.ville }}</td>
                <td>{{ client.telephone }}</td>
                <td>{{ client.mail}}</td>
                <td>{{ client.dateDeNaissance|date("d/m/Y") }}</td> 
                <td>{{ client.commentaire }}</td>
          
                 <td>
                    {# <a href="{{ path('client_show', {'id': client.id}) }}">Voir profil</a> #}
                    <a href="{{ path('client_edit', {'id': client.id}) }}">Modifier</a>
                </td> 
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas de résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('employe_new') }}">Ajouter nouveau client</a> #}
{% endblock %}
