{% extends 'base.html.twig' %}

{% block title %}Liste des Employés {% endblock %}

{% block body %}
    <h1>Liste des Employés</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom utilisateur</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Téléphone</th>
                <th>Poste</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employe in employes %}
            <tr>
                <td>{{ employe.id }}</td>
                <td>{{ employe.username }}</td>
              
                <td>{{ employe.nom }}</td>
                <td>{{ employe.prenom }}</td>
                <td>{{ employe.telephone }}</td>
                <td>{{ employe.poste }}</td>
                <td>
                    <a href="{{ path('employe_show', {'id': employe.id}) }}">Voir profil</a>
                    <a href="{{ path('employe_edit', {'id': employe.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas de résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('employe_new') }}">Ajouter un nouvel employé</a>
{% endblock %}
