{% extends 'base.html.twig' %}

{% block title %}Tva index{% endblock %}

{% block body %}
    <h1>Tva index</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Taux</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tva in tvas %}
            <tr>
                <td>{{ tva.id }}</td>
                <td>{{ tva.nom }}</td>
                <td>{{ tva.taux }} %</td>
                <td>
                    <a href="{{ path('tva_show', {'id': tva.id}) }}"><i class="far fa-eye"></i></a>
                    <a href="{{ path('tva_edit', {'id': tva.id}) }}"><i class="far fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tva_new') }}"><i class="fas fa-arrow-left fa-3x " style="color:black;"></i></a>
{% endblock %}
