{% extends 'base.html.twig' %}

{% block title %}Option Services{% endblock %}

{% block body %}
    <h1>Option Services</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Créateur</th>
                <td>{{ option_service.employe.nom }}</td>
            </tr>
            <tr>
                <th>Nom Option</th>
                <td>{{ option_service.nomOption }}</td>
            </tr>
            <tr>
                <th>Date Création</th>
                <td>{{ option_service.dateCreation ? option_service.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Prix Option</th>
                <td>{{ option_service.prixOption }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('option_service_index') }}">Retour</a>

    <a href="{{ path('option_service_edit', {'id': option_service.id}) }}">Modifier</a>

    {{ include('option_service/_delete_form.html.twig') }}
{% endblock %}
